* {
	margin: 0px;
	padding: 0px;
}

/* header */
#header {
	width: 85%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#header img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid orange;
}

#header .row {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.container {
	
}

/* all pages */

.content {
	width: 85%;
	background-color: orange;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

.left {
	background-color: yellow;
}

.right {
	background-color: blue;
}