* {
	margin: 0px;
	padding: 0px;
}

/* header */
#header {
	width: 85%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#header img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid orange;
}

#header .row {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.nav > li:hover {
	background-color: #FFA333;
}

/* all pages */

.content {
	width: 85%;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

/* footer */

footer {
	width: 85%;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

hr {
	width: 85%;
}

.footer-text {
	float: right;
}

a {
	color: #FFA333;
}

a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #FFA333;
}

/* store pages */

.shopping-cart-pic, .shopping-title{
	display: inline-block;
	vertical-align: middle;
}

.shopping-cart-pic {
	width: 5%;
}

.product {
	padding: 20px;
	margin-bottom: 30%;
	vertical-align: top;
}

.product-img{
	margin-top: 2%;
}

.product-description li {
	margin-left: 2%;
}

.product-description {
	margin-bottom: 3%;
}

.product-img {
	vertical-align: middle;
}

.product-img, .product-text {
	display: inline-block;	
}

.product-text {
	font-size: 85%;
}

.product-text input {
	margin-bottom: 15px;
	display: block;
}

.product-title {
	color: #CC7000;
}

.product-price {
	margin-bottom: 30px;
}

.purchase-button {
	background-color: #8C1C1C;
	color: white;
	border: none;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	border-radius: 25px;
	font-weight: bold;
}

.purchase-button:hover {
	background-color: #FFA333;
	color: white;
}

/* refund page */
.refund-title {
	color: #CC7000;
}

.privacy-list {
	padding: 2%;
}

.format {
	color: #FFA333;
}

.orangey {
	color: #FFA333;
}

.orangeyy {
	color: #FFA333;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: auto;
    margin: auto;
    min-height: 300px;
    max-height: 300px;
} 

#first-about-pic {
	padding-bottom: 20%;
	padding-top: 20%;
}

.about-content {
	padding-top: 7%;
}

.order-today {
	padding-top: 2%;
	text-align: center;
}

.order-today > a > button {
	font-size: 150%;
}

.carousel-color {
	color: blue;
}

.video {
	text-align: center;
}

.about-content {
	text-align: center;
}

.privacy-list-1 {
	padding-left: 28%;
}

.about-image-1 {
	text-align: center;
	padding-left: 3%;
	padding-top: 4%;
}

.drillstops-text {
	padding-top: 3%;
	text-align: left;
	margin: auto;
	width: 70%;
}

.drillstop-title {
	padding-bottom: 2%;
}

.small-text {
	font-size: 10px;
}